<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <%= image_tag 'result.png', class: 'image' %>
<!--            <img src="assets/images/logo.png" class="image">-->
            <div class="content">
                対戦結果
            </div>
        </h2>
        <%= form_for(@record) do |f| %>
          <% if @record.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

              <ul>
              <% @record.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <!--                        <input type="text" name="email" placeholder="E-mail address">-->
                        <%= f.text_field :name, placeholder: '管理者名' %>
                    </div>
                </div>
                <div class="field">
                  <div class="ui winner">
                    <div class="ui fluid search selection dropdown">
                      <input type="hidden" name="record[winner_id]" id="record_winner_id" value="">
                        <i class="dropdown icon"></i>
                        <div class="default text">勝利者</div>
                        <div class="menu">
                          <% for i in Player.all %>
                          <div class="item" data-value=<%="#{i.id}"%>>
                            <%= image_tag "#{i.prof_pic}", class: 'ui mini avatar image'%>
                            <%= i.name %>
                          </div>
                          <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="field">
                <div class="ui loser">
                  <div class="ui loser fluid search selection dropdown">
                    <input type="hidden" name="record[loser_id]" id="record_loser_id" value="">
                    <i class="dropdown icon"></i>
                    <div class="default text">敗者</div>
                    <div class="menu">
                      <% for i in Player.all %>
                      <div class="item" data-value=<%="#{i.id}"%>>
                        <%= image_tag "#{i.prof_pic}", class: 'ui mini avatar image'%>
                        <%= i.name %>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="ui input fight-date">
                  <%= f.text_field :fight_date, class: 'form-control date-picker' %>
                </div>
              </div>
              <div class="button">
                <%= f.submit '試合結果を登録', class: 'ui fluid large teal submit button' %>
              </div>
          </div>
              
                 <% end %>
           
      </form>
   </div>
</div>

