<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>


<%= form_tag('./players/hope') do%>
    <%for f in @players %>
        <%= check_box_tag 'id[id][]', f.id %>
        <%= f.name %>
        <%= f.prof_pic %>
        <%= f.login_id %>
        <%= f.login_pass %>
        <%= f.description %>
        <%= f.type_id %>
        <br>
    <% end %>
    <%= submit_tag "ファイル送信" %>
<%end%>



<%= link_to 'New Player', new_player_path %>
