<div class="ui container">
    <div class="profile-upper">
        <%= image_tag @player.prof_pic, class: 'ui medium rounded floated left image' %>
        <div><div class="big-size">名前</div></div>
    <div class="true-name"><div class="name"><%= @player.name%></div></div>
    <div class="point"><%= @player.rate%>pt</div>
    </div>
    <div class="profile-lower">
        <h1>コメント</h1>
        <div class="ui">
        <%= @player.description%>
        </div>
    </div>
    <%= link_to '←戻る', players_path %>
</div>
